<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div>
    <h1>Alhagie's task</h1>
  </div>
  <div>
    <h1>Silvana's task</h1>
  </div>
  <div>
    <ion-card>
      <img src="https://images.unsplash.com/photo-1604725333736-1f962a6218d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FsaWZvcm5pYSUyMHN1bnNldHxlbnwwfHwwfHw%3D&w=1000&q=80" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        This is a sunset image
      </ion-card-content>
    </ion-card>
  </div>
  
  <div>
    <ion-card>
        <img src="https://mywowo.net/media/images/cache/dubai_img_worlds_of_adventure_01_presentazione_jpg_1200_630_cover_85.jpg" />
        <ion-card-header>
          <ion-card-subtitle>silvy</ion-card-subtitle>
          <ion-card-title>sissy</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        card of silvy 
        </ion-card-content>
      </ion-card>
  </div>
  
</ion-content>
